page-quotes {

  p{
    font-size: 1.7rem !important;
  }
  .author{
    color: #ccc;
    text-transform: uppercase;
    text-align: right;
    font-style: italic;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }
}
